<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{recipe?.name}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="youtubeFrame">
    <iframe width="400" height="250" [src]="videoUrl()" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  </ion-content>


