.youtubeFrame{
  margin: 3%;
  width: 94%;

}

.tags{
  margin :2%;
}
.details{
  margin:2%;
}
.tags ion-button{
  color: white;
  --background: grey;
}

.delete{
  align-items: center;
  text-align: center;
}
